/**
 * Properties
 */
:root {
    --disabled-color: rgb(94, 109, 120);
    
    --main-font: Lato, "Helvetica Nueue", Helvetica, Arial, sans-serif;
    --title-font: Means, Georgia, serif;

    --main-gap: 16px;
    --main-padding: 12px;
    --border-radius: 24px;
    --input-radius: 4px;

    --actions-width: calc(var(--main-padding) + 32px * 2);

    --z-dialog: 100;
    --z-header: 110;
}

body {
    --box-shadow: 0 28px 44px var(--light-color);
}

.light-mode {
    --black-color: black;
    --white-color: white;
    --main-color: rgb(14, 16, 18);
    --label-color: rgb(118, 130, 139);
    --background-color: #f6f6f9;
    --card-color: white;
    --button-color: rgb(14, 16, 18);
    --input-color: rgb(189, 189, 189);
    --lighter-color: rgba(132, 139, 200, 0.09);
    --light-color: rgba(132, 139, 200, 0.18);
    --dark-color: rgba(132, 139, 200, 0.24);
    --backdrop-color: rgba(232, 232, 237, 0.8);
    --border-color: rgba(132, 139, 200, 0.18);
}
.dark-mode {
    --black-color: white;
    --white-color: black;
    --main-color: rgb(237, 239, 253);
    --label-color: rgba(227, 229, 243);
    --background-color: #181a1e;
    --card-color: #202528;
    --button-color: rgb(14, 16, 18);
    --input-color: rgb(0, 0, 0, 0.8);
    --lighter-color: rgba(0, 0, 0, 0.2);
    --light-color: rgba(0, 0, 0, 0.3);
    --dark-color: rgba(0, 0, 0, 0.2);
    --backdrop-color: rgba(0, 0, 0, 0.8);
    --border-color: rgba(0, 0, 0, 0.4);
}



/**
 * Fonts
 */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: local("Lato"), url("../fonts/lato-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    src: local("Lato"), url("../fonts/lato-bold.ttf") format("truetype");
}
@font-face {
    font-family: "Means";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/means-regular.woff2") format("woff2");
}



/**
 * Main Styles
 */
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--background-color);
}
body, input, dialog {
    color: var(--main-color);
    font-size: 14px;
    font-family: var(--main-font);
}
svg {
    fill: var(--main-color);
}



/**
 * Actions
 */
.action {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease;
}
.action:hover {
    background-color: var(--light-color);
}



/**
 * Buttons
 */
.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid var(--button-color);
    border-radius: 9999px;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
}
.btn-small {
    padding: 4px 8px;
}
.btn:hover {
    color: white;
    background-color: var(--button-color);
}

.btn-fill {
    color: white;
    background-color: var(--button-color);
}
.btn-fill:hover {
    color: var(--main-color);
    background-color: transparent;
}

.btn + .btn {
    margin-left: 8px;
}



/**
 * Input Fields
 */
input {
    appearance: none;
}
input:focus {
    outline: none;
    border-color: var(--main-color);
}

.field {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 48px;
    padding: 8px 16px;
    text-align: left;
    margin-bottom: 16px;
    border: 1px solid var(--input-color);
    border-radius: var(--border-radius);
}
.field > label,
.file-input label {
    margin: 0;
    font-size: 11px;
    line-height: 1;
    color: var(--label-color);
}
.field > input[type="text"],
.field > input[type="number"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.error {
    display: none;
    color: rgb(188, 28, 72);
    font-size: 12px;
}



/**
 * File Input
 */
.file-input section {
    display: flex;
    gap: 6px;
}
.file-input section > div:first-child {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.file-input section > div:first-child > div {
    min-height: 17px;
    font-size: 14px;
}
.file-input section > div:last-child {
    display: flex;
    align-items: flex-end;
}
.file-input section > div:last-child .close {
    margin: 0 6px 8px 0;
}



/**
 * Checkbox Input
 */
@keyframes tick {
    from { transform: scale(0); }
    to   { transform: scale(1); }
}

.checkbox-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}
.checkbox-input {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-size: 14px;
}
.checkbox-input input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
    border: 1px solid var(--input-color);
    border-radius: var(--input-radius);
    transition: all ease-in-out 0.2s;
}
.checkbox-input input[type="checkbox"]:checked:after {
    content: "✕";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    background-color: var(--main-color);
    color: white;
    border-radius: var(--input-radius);
    animation: tick 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.checkbox-input input[type="checkbox"]:disabled {
    background-color: rgb(245, 245, 245);
    color: rgb(175, 175, 175);
}

.checkbox-input input[type="checkbox"]:not(:disabled):hover,
.checkbox-input input[type="checkbox"]:focus {
    border-color: var(--primary-color);
    outline: none;
}



/**
 * Toggle Input
 */
.toggle-input {
    --toggle-size: 18px;
    --toggle-spacing: 2px;

    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.toggle-input input[role="switch"] {
    margin-right: 12px;
}

input[role="switch"] {
    appearance: none;
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    margin: 0;
    border: none;
    outline-offset: 0;
    box-sizing: content-box;
    cursor: pointer;
    background: var(--input-color);
    width: calc(var(--toggle-size) * 2 + var(--toggle-spacing) * 2);
    height: calc(var(--toggle-size) + var(--toggle-spacing) * 2);
    border-radius: var(--toggle-size);
    transition: all .25s ease;
}
input[role="switch"]:before {
    content: "";
    position: absolute;
    top: var(--toggle-spacing);
    left: var(--toggle-spacing);
    width: var(--toggle-size);
    height: var(--toggle-size);
    background: white;
    border-radius: 50%;
    transition: transform .2s ease;
}
input[role="switch"]:checked {
    background-color: var(--main-color);
}
input[role="switch"]:checked:before {
    transform: translateX(var(--toggle-size));
}
input[role="switch"]:not(:disabled):hover,
input[role="switch"]:focus {
    box-shadow: 0 0 5px var(--main-color);
    outline: none;
}
input[role="switch"]:disabled {
    background-color: var(--darker-gray);
}



/**
 * Arrow
 */
.arrow {
    --arrow-color: var(--main-color);
    --arrow-size: 10px;
    --arrow-width: 10px;
    --arrow-height: 1px;
    --arrow-space: 0;
    position: relative;
    width: var(--arrow-size);
    height: var(--arrow-size);
    cursor: pointer;
}
.arrow:before,
.arrow:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: var(--arrow-space);
    width: var(--arrow-width);
    height: var(--arrow-height);
    background-color: var(--arrow-color);
    transition: all 0.2s;
    transform-origin: right center;
}
.arrow:before {
    transform: rotate(35deg);
}
.arrow:after {
    transform: rotate(-35deg);
}
.arrow:hover:before,
.arrow:active:before {
    transform: rotate(25deg);
}
.arrow:hover:after,
.arrow:active:after {
    transform: rotate(-25deg);
}



/**
 * Close
 */
.close {
    --close-color: var(--main-color);
    --close-size: 12px;
    --close-width: 12px;
    --close-height: 1px;

    position: relative;
    width: var(--close-size);
    height: var(--close-size);
    cursor: pointer;
}
.close:before,
.close:after {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--close-size) / 2);
    left: 0;
    width: var(--close-width);
    height: var(--close-height);
    background-color: var(--close-color);
    transition: all 0.2s;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.close:hover:before,
.close:active:before {
    transform: rotate(35deg);
}
.close:hover:after,
.close:active:after {
    transform: rotate(-35deg);
}
