/**
 * Main
 */
main {
    display: flex;
    flex-direction: column;
    gap: calc(var(--main-gap) * 2);
    padding: calc(var(--main-padding) * 2);
}
main > .card {
    flex-direction: column;
    padding: calc(var(--main-padding) * 2);
}
main h2 {
    margin: 0;
    font-family: var(--title-font);
    font-size: 24px;
}



/**
 * Cards
 */
.card {
    box-sizing: border-box;
    display: flex;
    gap: var(--main-gap);
    padding: var(--main-padding);
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-size: 16px;
}
.card[data-action] {
    cursor: pointer;
    transition: all 300ms ease;
}
.card[data-action]:hover {
    box-shadow: none;
}



/**
 * Icons
 */
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--main-gap) / 2);
    list-style: none;
    margin: 0;
    padding: 0;
}
.icons:empty {
    display: none;
}
.icon {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    padding: calc(var(--main-gap) / 2);
    padding-bottom: 0;
    gap: calc(var(--main-gap) / 2);
    border-radius: var(--border-radius);
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease;
}
.icon.selected,
.icon:hover {
    background-color: var(--light-color);
}
.icon span:first-child {
    font-size: 48px;
}
.icon span:last-child {
    height: 30px;
    font-size: 12px;
}



/**
 * Empty
 */
.empty {
    display: none;
    text-align: center;
}
.empty p {
    margin: 0;
}
.empty p:first-child {
    font-size: 80px;
}
.empty p:last-child {
    margin-top: 12px;
}



/**
 * Media queries
 */
@media (max-width: 600px) {
    main {
        padding: var(--main-padding);
    }
}
