/**
 * Dialogs
 */
.backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backdrop-color);
    z-index: var(--z-dialog);
}
dialog {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    max-width: calc(100% - 24px);
    margin: 0;
    padding: calc(var(--main-padding) * 3) calc(var(--main-padding) * 2);
    transform: translate(-50%, -50%);
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    border: none;
    box-shadow: var(--box-shadow);
    font-size: 16px;
    text-align: center;
}
dialog h2 {
    margin-top: 0;
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: normal;
}
dialog > .close {
    --close-color: var(--main-color);
    --close-size: 20px;
    --close-width: 20px;
    --close-height: 2px;

    position: absolute;
    top: calc(var(--main-padding) * 2);
    right: calc(var(--main-padding) * 2);
}



/**
 * Select Project Dialog
 */
.select-project dialog {
    width: 500px;
}
.select-list {
    list-style: none;
    counter-reset: counter;
    padding: 0;
    margin-bottom: calc(var(--main-padding) * 2);
    border-top: 1px solid var(--border-color);
}
.select-list:empty {
    display: none;
}
.select-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    counter-increment: counter;
    padding: 8px 16px;
    border-bottom: 1px solid var(--border-color);
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s;
}
.select-list li:hover {
    background-color: var(--light-color);
}

.select-list .select-name::before {
    content: counter(counter) ".";
    margin-right: 8px;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 20px;
}
.select-list .selected {
    background-color: var(--lighter-color);
}



/**
 * Edit Icon Dialog
 */
.edit-icon .icon {
    margin: 0 auto;
}
