/**
 * The header
 */
header {
    position: sticky;
    top: 0;
    display: flex;
    gap: var(--main-gap);
    row-gap: calc(var(--main-gap) / 2);
    padding: calc(var(--main-padding) * 2);
    background: linear-gradient(to top, transparent 0, var(--background-color) var(--main-padding));
    z-index: var(--z-header);
}
header .card {
    gap: 0;
    padding: calc(var(--main-padding) / 2);
}

.title {
    display: flex;
    align-items: center;
    gap: calc(var(--main-gap) / 2);
    font-family: var(--title-font);
    font-weight: normal;
    cursor: pointer;
    transition: all 300ms;
}
.title:hover {
    opacity: 0.5;
}
.title h1 {
    margin: 0;
    font-size: 28px;
    font-weight: normal;
}



/**
 * The search
 */
.search.search {
    flex-grow: 2;
    align-items: center;
    padding-left: calc(var(--main-padding) * 2);
}
.search.hidden {
    opacity: 0.2;
    pointer-events: none;
}
.search input[type="text"] {
    flex-grow: 2;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.clear-search {
    display: none;
}



/**
 * Mode
 */
.mode {
    width: var(--actions-width);
}
.mode .selected {
    background-color: var(--black-color);
}
.mode .selected svg {
    fill: var(--white-color);
}



/**
 * Media queries
 */
@media (max-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 1fr var(--actions-width);
        grid-template-areas: "title actions" "search search";
        padding: var(--main-padding);
    }
    .title {
        grid-area: title;
    }
    .search {
        position: relative;
        grid-area: search;
        z-index: 1;
    }
    .search.hidden {
        display: none;
    }
    .actions {
        grid-area: actions;
    }
}

@media (max-width: 400px) {
    .title h1 {
        font-size: 24px;
    }
}
