/**
 * Properties
 */
:root {
    --disabled-color: rgb(94, 109, 120);

    --main-font: Lato, "Helvetica Nueue", Helvetica, Arial, sans-serif;
    --title-font: Means, Georgia, serif;

    --main-gap: 16px;
    --main-padding: 12px;
    --border-radius: 24px;
    --input-radius: 4px;

    --actions-width: calc(var(--main-padding) + 32px * 2);

    --z-dialog: 100;
    --z-header: 110;
    --z-important: 120;
}

body {
    --box-shadow: 0 28px 44px var(--light-color);
}

.light-mode {
    --black-color: black;
    --white-color: white;
    --main-color: rgb(14, 16, 18);
    --background-color: rgb(246, 246, 249);
    --backdrop-color: rgba(246, 246, 249, 0.6);
    --card-color: white;
    --label-color: rgb(118, 130, 139);
    --button-color: rgb(14, 16, 18);
    --input-color: rgb(189, 189, 189);
    --lighter-color: rgba(132, 139, 200, 0.09);
    --light-color: rgba(132, 139, 200, 0.18);
    --dark-color: rgba(132, 139, 200, 0.24);
    --border-color: rgba(132, 139, 200, 0.18);
}
.dark-mode {
    --black-color: white;
    --white-color: black;
    --main-color: rgb(237, 239, 253);
    --background-color: rgb(24, 26, 30);
    --backdrop-color: rgba(24, 26, 30, 0.8);
    --card-color: rgb(32, 37, 40);
    --label-color: rgb(227, 229, 243);
    --button-color: rgb(14, 16, 18);
    --input-color: rgb(0, 0, 0, 0.8);
    --lighter-color: rgba(0, 0, 0, 0.2);
    --light-color: rgba(0, 0, 0, 0.3);
    --dark-color: rgba(0, 0, 0, 0.2);
    --border-color: rgba(0, 0, 0, 0.4);
}
